@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: "Spline Sans", system-ui, sans-serif;
    color-scheme: light dark;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}

@layer components {
    .btn-filter {
      @apply py-2.5 px-5 rounded-2xl bg-surface-dark text-text-dark font-medium border border-solid border-transparent shrink-0 cursor-pointer hover:border-primary-dark transition duration-200 ease-linear;
    }

    .btn-nav {
      @apply w-full text-left px-3 py-2 rounded-lg hover:bg-neutral-800 transition duration-200 ease-linear cursor-pointer;
    }
    
    .active-filter {
      @apply bg-primary-dark hover:border-text-dark;
    }
}

@theme {
    /* Theme colors */
    --color-bg-light: #f6f8f7;
    --color-bg-dark: #112117;
    --color-text-light: #e0fff0; /* lighter surface-dark. */
    --color-text-lighter: #26302b;
    --color-text-light-muted: #3f5046;
    --color-text-dark: #e6fff0; /* e6fff0 */
    --color-text-dark-muted: #98aea1;

    --color-surface-dark: #1a2c23;
    --color-surface-darker: #0d1410;

    /* Primary */
    --color-primary: #36e27b;
    --color-primary-dark: #2ab562;

    --color-emerald-splash: oklch(70.192% 0.15767 160.464 / 0.20);
    --color-emerald-green: oklch(70.192% 0.15767 160.464);
}